<%= form_for(@message) do |f| %>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>
   <div class="col-sm-4">
   名前
   <%= f.text_field :name, :class => "form-control", :size => "1x1" %>
   </div>
   <div class="col-sm-8">
   </div>
   <br>
   <div class="col-sm-10">
   内容
   <%= f.text_area :body, :class => "form-control", :size => "5x10"  %>
   <div class="col-sm-2">
   </div>
   <br>
   <div class="col-sm-2">
   年齢
   <%= f.text_field :age, :class => "form-control", :size => "1x1"  %>
   </div>
   <div class="col-sm-10">
   </div>
   <br>
   <br>
  <%= f.submit class: "btn btn-primary btn-lg btn-block" %>
 <% end %>